﻿
.btn-vertical-slider {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 30px;
}


a {
    cursor: pointer;
}

.carousel.vertical .carousel-inner .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 100%;
}

.carousel.vertical .prev {
    top: -100%;
}

    .carousel.vertical .next.left,
    .carousel.vertical .prev.right {
        top: 0;
    }

.carousel.vertical .active.left {
    top: -100%;
}

.carousel.vertical .active.right {
    top: 100%;
}

.carousel.vertical .item {
    left: 0;
}

/*Responsive de la imagen de hojitas para dispositivos*/
@media screen and (max-device-width:768px) and (max-device-height:1024px){
    #fondoIndexBody {
        background: none !important;
    }

    .parallax1 {
        background: url('../../img/IMAGEN-DE-BIENVENIDA-768x1024.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        z-index: 2 !important;
        background-size: 100vw 100vh !important;
    }

    .feature_product_area {
        padding-bottom: 150px !important;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width:1024px) and (max-device-height:1366px) {
    .parallax1 {
        background: url('../../img/IMAGEN-DE-BIENVENIDA-1080x1024.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        z-index: 2 !important;
        background-size: 100vw 100vh !important;
    }
}


/*Responsive de la imagen de hojitas para la pantalla PC*/

@media (min-width: 769px) and (max-width:1024px){
    .parallax1 {
        background: url('../../img/IMAGEN-DE-BIENVENIDA-1080x1024.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        z-index: 2 !important;
        background-size: 100vw 100vh !important;
    }

    .claseFuente2 {
        font-size: 40px !important;
    }
}

@media (max-width:500px) and (max-width:768px) {

    .parallax1 {
        background: url('../../img/IMAGEN-DE-BIENVENIDA-768x1024.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        z-index: 2 !important;
        background-size: 100vw 100vh !important;
    }

    .claseFuente2 {
        font-size: 30px !important;
    }

    .feature_product_area {
        padding-bottom: 200px !important;
    }
}

@media (max-width:500px) {

    .parallax1 {
        background: url('../../img/IMAGEN-DE-BIENVENIDA-768x1024.jpg') !important;
        background-attachment: fixed !important;
        background-position: top !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        z-index: 2 !important;
        background-size: 100vw 100vh !important;
    }

    .claseFuente2 {
        font-size: 30px !important;
    }

    .feature_product_area {
        padding-bottom: 70px !important;
    }
}

/*Para el modal COMUNICADO CANJES*/
.popup {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 1.5s 1s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 10000000;
}

.contenido {
    margin: auto;
    width: auto;
    height: auto;
    background: white;
    /*border-radius: 10px;*/
}

#cerrar{
    display: none
}

    #cerrar + label {
        position: fixed;
        color: #fff;
        font-size: 25px;
        z-index: 10000001;
        background: darkred;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        top: 5px;
        right: 5px;
        cursor: pointer;
        padding-left: 11px;

        animation: modal 1.5s 1s forwards;
        visibility: hidden;
        opacity: 0;
    }

    #cerrar:checked + label, #cerrar:checked ~ .contenido {
        display: none
    }

@keyframes modal{
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 960px){
    #imgPopup {
        content: url("/img/POP-UP-PERU2.jpg?v9");
    }
}

@media screen and (max-device-width: 500px) and (min-device-width: 421px) {
    #imgPopup {
        width: 70vw
    }
}
@media screen and (max-device-width: 420px) {
    #imgPopup {
        width: 85vw !important
    }
}