﻿/*Para la clase colorlib-hero*/
#colorlib-hero {
    height: 650px;
    width: 100%;
    float: left;
    z-index: 0;
    margin-bottom: 6em;
}

    #colorlib-hero .btn {
        font-size: 24px;
    }

        #colorlib-hero .btn.btn-primary {
            padding: 14px 30px !important;
        }

    #colorlib-hero .flexslider {
        border: none;
        z-index: 1;
        margin-bottom: 0;
    }

        #colorlib-hero .flexslider .slides {
            position: relative;
            overflow: hidden;
        }

            #colorlib-hero .flexslider .slides li {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                height: 650px;
                position: relative;
            }

                #colorlib-hero .flexslider .slides li .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

        #colorlib-hero .flexslider .flex-control-nav {
            bottom: 5em;
            z-index: 1000;
            width: 0 auto;
        }

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .flex-control-nav {
        bottom: 6em;
    }
}

#colorlib-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

    #colorlib-hero .flexslider .flex-control-nav li a.flex-active {
        cursor: pointer;
        background: transparent;
        background: #FFC300;
    }

#colorlib-hero .flexslider .flex-direction-nav {
    display: none;
}

#colorlib-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    height: 650px;
    z-index: 9;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 650px;
    }

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        text-align: center;
    }
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .desc {
    display: inline-block;
    position: relative;
    z-index: 0;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .desc:after {
        position: absolute;
        top: -3em;
        left: -3em;
        right: 0;
        bottom: 0;
        width: 310px;
        height: 310px;
        content: '';
        background: #fff;
        z-index: -1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

#colorlib-hero .flexslider .slider-text > .slider-text-inner h1, #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: black;
    text-transform: uppercase;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
    color: #000;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 5px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-3 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .category {
    margin-bottom: 30px;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .category span {
        font-weight: 100;
        font-size: 20px;
        color: gray;
    }

#colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 30px !important;
    border: none;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
        background: #FFC300;
        color: #fff;
    }

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
        background: #000 !important;
    }

@media screen and (max-width: 480px) {
    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
        width: 100%;
    }
}


/*Para la clase breadcrumbs*/
.breadcrumbs {
    height: 300px !important;
}

    .breadcrumbs .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 300px !important;
        position: relative;
    }

        .breadcrumbs .slides li .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: white;
            background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
            background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
            background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
            background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
            background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        }

    .breadcrumbs .slider-text {
        height: 300px !important;
    }

        .breadcrumbs .slider-text > .slider-text-inner {
            height: 300px !important;
        }

@media screen and (max-width: 768px) {
    .breadcrumbs .slider-text > .slider-text-inner {
        text-align: center;
    }
}

.breadcrumbs .slider-text > .slider-text-inner h1 {
    font-size: 28px;
}

.breadcrumbs .slider-text > .slider-text-inner .bread span {
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 10px;
}

    .breadcrumbs .slider-text > .slider-text-inner .bread span:first-child {
        margin-left: 0;
    }